name: Build and Push to ECR

on:
  push:
    branches: [ "master" ]

permissions:
  id-token: write
  contents: read

jobs:
  push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::484907511683:role/github-actions-ecr-push-role
          aws-region: us-west-2

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t 484907511683.dkr.ecr.us-west-2.amazonaws.com/reppo-ai-acp-integration-repositorygit statu:latest .

      - name: Tag image
        run: |
          docker tag 484907511683.dkr.ecr.us-west-2.amazonaws.com/reppo-ai-acp-integration-repository:latest

      - name: Push image
        run: |
          docker push 484907511683.dkr.ecr.us-west-2.amazonaws.com/reppo-ai-acp-integration-repository:latest
